body {
    font-family: 'Arial', sans-serif;
    background-color: lemonchiffon;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: blue;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
}

button:disabled {
    background-color: cyan;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 8px 0;
    background-color: cyan;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: ivory;
}

span {
    flex-grow: 1;
    font-size: 18px;
    cursor: pointer;
    transition: text-decoration 0.3s ease;
}

span.completed {
    text-decoration: line-through;
    color: #888;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: cadetblue;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: lightblue;
}

button:focus {
    outline: none;
}

button:active {
    background-color: aquamarine;
}

.adi{
    .adi2{
        margin-left: -240px;
        margin-bottom: 50px;
    }
}